.container {
  padding: 20px;
  width: 100vw;
}

.name-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/money-manager/money-manager-bg.png');
  background-size: cover;
  height: 200px;
  padding: 20px;
}

.name {
  color: #475569;
  font-family: 'Roboto';
  font-weight: bold;
}

.description {
  font-family: 'Roboto';
  font-size: 20px;
  color: #475569;
}

.sub-description {
  color: #0b69ff;
  font-weight: bold;
}

.transaction-con {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.card-container {
  border: 1px solid #ede9fe;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 10px;
  border-radius: 10px;
  width: 400px;
}

.card-head {
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 26px;
  color: #334155;
}

.form-con {
  display: flex;
  flex-direction: column;
}

.label-name {
  color: #7e858e;
  font-family: 'Roboto';
  margin-bottom: 7px;
}

.input {
  width: 300px;
  padding: 7px;
  margin-bottom: 10px;
  font-family: 'Roboto';
  cursor: pointer;
}

.btn {
  color: #ffffff;
  background-color: #0b69ff;
  font-family: 'roboto';
  font-weight: bold;
  border: 0px;
  padding: 10px;
  border-radius: 10px;
  width: 80px;
  cursor: pointer;
}

.histroy-header {
  width: 360px;
  display: flex;
  justify-content: space-between;
  gap: 40px;
  padding: 10px;
  border: 1px solid #ede9fe;
}

.histroy-head {
  color: #334155;
  font-family: 'roboto';
  font-size: 15px;
  margin-right: 30px;
}

.type {
  margin-right: 80px;
}
.money-details {
  padding: 25px;
  display: flex;
  justify-content: center;
  gap: 40px;
}

@media (max-width: 767px) {
  .money-details {
    flex-direction: column;
    align-items: center;
  }
  .transaction-con{
    flex-direction: column;
  }
}
